 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }
 .var {
    color: coral;
    background-color: grey;
    position: fixed;
    pointer-events: visible;
    padding-block: initial;
 }